// Global default parameters
params {
    // Input parameters
    reads = null          // Path to input FASTQ files
    reference = null
    outdir = "results"
    help = false
    
    
    // fastp parameters
    fastp_trim_front1 = 13    // -f parameter
    fastp_trim_tail1 = 10     // -t parameter
    fastp_trim_front2 = 13    
    fastp_trim_tail2 = 10
    
    // VarScan parameters
    varscan_min_coverage = 8
    varscan_min_var_freq = 0.1
    varscan_p_value = 0.05
}

// Docker configuration
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

// Process resource defaults
process {
    executor = 'local'
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 3
}

// Including process-specific configurations
includeConfig 'process.config'

// Execution profiles
profiles {
    test {
        params.reads = "$baseDir/test/*_{1,2}.fastq.gz"
        params.reference = "$baseDir/test/reference.fa"
    }
    
    // DRY RUN profile - no execution, just pipeline validation
    dryrun {
    process.executor = 'local'
    executor.queueSize = 1
    executor.submitRateLimit = '1/s'
    dag.enabled = true
    executor.pollInterval = '10sec'
    dryRun = true  // This is the key parameter for dry run
}
}
